<div class="container">

    <div class="card shadow mt-5 mb-5 p-3 rounded">
        {{!-- <div class="card-header">
            <a href={{link}} class="card-text">{{title}}</a>
        </div> --}}
        <div class="card-body">
            <a href={{link}} class="card-text">{{title}}</a>
            <img src={{thumbnail}} class="rounded float-left mr-3" alt="...">
            <p class="card-text">{{summary}}</p>

            {{!-- {{#if unsaved}} --}}
                <a href="#" class="btn btn-primary save-article" data-id="{{id}}">Save</a>
            {{!-- {{else}}
                <a href="#" class="btn btn-primary">Notes</a>
                <a href="#" class="btn btn-danger">Delete</a>
            {{/if}} --}}
            
        </div>
    </div>
        
</div>