<div class="container">
    <div class="card shadow mt-5 mb-5 p-3 rounded">
        <div class="card-body">
            <a href={{link}} class="card-text">{{title}}</a>
            <img src={{thumbnail}} class="rounded float-left mr-3" alt="...">
            <p class="card-text">{{summary}}</p>
            <a class="btn btn-primary text-white article-save" data-id="{{id}}">Save</a>
        </div>
    </div>
</div>